# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.*
.env*.local
!.env.example
!*/.env.example

# Expo & Mobile builds
.expo/
*/.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
logs/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
Thumbs.db